﻿@{
    ViewData["Product"] = "Product";
}
<h1>@ViewData["Product"]</h1>

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="GetAll">Get all products</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="FindProductByName">Get product by name</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="AddProductFields">Add product</a>
    </li>
</ul>