﻿<h1>Add Product</h1>

<table>
    <form method="post" action="">
        <p>
            <label>Name:</label><br />
            <input type="text" name="ProductName" />
        </p>
        <p>
            <input type="submit" value="Отправить" />
        </p>
    </form>
</table>