﻿@{
    ViewData["Order"] = "Orders";
}
<h1>@ViewData["Order"]</h1>

<style>
    td {
        text-align: center;
        vertical-align: middle;
    }
</style>

<table class="table table-bordered">
    <tr>
        <td>orderId</td>
        <td>Products In Order</td>

    </tr>
    @foreach (var key in ViewBag.CustomerOrders.Keys)
    {
        <tr>
            <td style="text-align: center; vertical-align: middle;">@key</td>
            <td style="text-align: center; vertical-align: middle;">
                <table class="table table-bordered table-hover">
                    <tr>
                        <td>ProductId</td>
                        <td>ProductName</td>
                        <td>ProductPrice</td>
                        <td>Count</td>
                    </tr>
                    @foreach (var product in ViewBag.CustomerOrders[key])
                    {
                        <tr>
                            <td>@product.ProductId</td>
                            <td>@product.ProductName</td>
                            <td>@product.ProductPrice</td>
                            <td>@product.Count</td>
                            <td><a asp-action="DeleteProductFromOrder" asp-route-customerId="@ViewBag.OrderCustomerId" asp-route-orderId="@key" asp-route-productId="@product.ProductId">Delete</a></td>
                        </tr>
                    }
                </table>
            </td>
            <td style="text-align: center; vertical-align: middle;">
                <table class="table table-bordered table-hover">
                    <tr><td><a asp-action="DeleteOrder" asp-route-customerId="@ViewBag.OrderCustomerId" asp-route-orderId="@key">Delete Order</a></td></tr>
                    <tr><td> <a asp-action="AddProductToOrder" asp-route-customerId="@ViewBag.OrderCustomerId" asp-route-orderId="@key" asp-route-customerId="@ViewBag.OrderCustomerId" asp-route-orderId="@key">AddProduct</a></td></tr>
                </table>
            </td>

        </tr>
    }
    <tr>
        <td>
        <tr><td><a asp-action="CreateOrder" asp-controller="Order" asp-route-customerId="@ViewBag.OrderCustomerId">Create Order</a></td></tr>
        </td>
    </tr>
</table>


@*
    <td>|</td>
    <td><a asp-action="DeleteProduct" asp-route-id="@product.ProductId">Delete</a></td>
    <td>|</td>
    <td><a asp-action="EditProductFields" asp-route-id="@product.ProductId">Edit</a></td>*@