﻿
<h1>@ViewData["ExceptionMessage"]</h1>

<a class="bottomNav" onclick="history.go(-1); return false;" href="#">Back</a>
<a asp-action="CreateOrder" asp-controller="Order" asp-route-customerId="@ViewBag.OrderCustomerId">Create Order</a>
