﻿@using PLMVC.Controllers
@{
    ViewData["Title"] = "Add Product";
}
<h1>@ViewData["Title"]</h1>

<table>
    <form method="post" action="">
        <p>
            <label>Name:</label><br />
            <input type="text" name="ProductName" />
        </p>
        <p>
            <label>Price:</label><br />
            <input type="number" name="ProductPrice" />
        </p>
        <p>
            <label>Count:</label><br />
            <input type="number" name="Count" />
        </p>
        <p>
            <input type="submit" value="Отправить" />
        </p>
    </form>
</table>