﻿@using PLMVC.Controllers
@{
    ViewData["Title"] = "Find Product";
}
<h1>@ViewData["Title"]</h1>

<table>
    <form method="post" action="">
        <p>
            <label>Name:</label><br />
            <input type="text" name="ProductName" />
        </p>
        <p>
            <input type="submit" value="Отправить" />
        </p>
    </form>
</table>