﻿@using PLMVC.Controllers
@{
    ViewData["Product"] = "Product";
}
<h1>@ViewData["Product"]</h1>

<table>
    <tr>
        <td>Id</td>
        <td>|</td>
        <td>Name</td>
        <td>|</td>
        <td>Price</td>
        <td>|</td>
        <td>Count</td>
    </tr>
    @foreach (var product in ViewBag.Products)
    {
        <tr>
            <td>@product.ProductId</td>
            <td>|</td>
            <td>@product.ProductName</td>
            <td>|</td>
            <td>@product.ProductPrice</td>
            <td>|</td>
            <td>@product.Count</td>
            <td>|</td>
            <td><a asp-action="DeleteProduct" asp-route-id="@product.ProductId">Delete</a></td>
            <td>|</td>
            <td><a asp-action="EditProductFields" asp-route-id="@product.ProductId">Edit</a></td>
        </tr>
    }
</table>