﻿@using PLMVC.Controllers
@{
    ViewData["Title"] = "EditCustomer";
}
<h1>@ViewData["Title"]</h1>

<table>
    <form method="post" action="">
        <p>
            <label>Name:</label><br />
            <input type="text" name="CustomerName"/>
        </p>
        <p>
            <label>Email:</label><br />
            <input type="Email" name="CustomerEmail" />
        </p>
        <p>
            <input type="submit" value="Отправить" />
        </p>
    </form>
</table>