﻿@using PLMVC.Controllers
@{
    ViewData["Customer"] = "Customer";
}
<h1>@ViewData["Customer"]</h1>

<table>
    <tr>
        <td>Id</td>
        <td>|</td>
        <td>Name</td>
        <td>|</td>
        <td>Email</td>
    </tr>
    @foreach (var customer in ViewBag.Customers)
    {
<tr>
    <td>@customer.CustomerId</td>
    <td>|</td>
    <td>@customer.CustomerName</td>
    <td>|</td>
    <td>@customer.CustomerEmail</td>
    <td>|</td>
    <td><a asp-action="GetCustomerOrders" asp-controller="Order" asp-route-id="@customer.CustomerId">Orders</a></td>
    <td>|</td>
    <td><a asp-action="DeleteCustomer" asp-route-id="@customer.CustomerId">Delete</a></td>
    <td>|</td>
    <td><a asp-action="EditCustomerFields" asp-route-id="@customer.CustomerId">Edit</a></td>
</tr>
}
</table>